<h2>Add Player</h2>
<form asp-action="AddPlayer" method="post">
    <div class="input-group">
        <input type="text" class="form-control" id="playerName" name="playerName" required/>
        <button type="submit" class="btn btn-primary">Add Player</button>
    </div>
</form>