@using DartsScorer.Main.Match.RoundTheBoard
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DartsScorer.Main.Match.RoundTheBoard.Match
@{
    ViewData["Title"] = "Round the Board";
}

<p>Play Round the Board</p>

<div class="d-flex">
    <div class="flex-fill">
        @Html.Partial("MatchPlayers", Model.Players)
        @{
            if (Model.Players.Any())
            {
                <form asp-action="StartMatch" method="post">
                    <button type="submit" class="btn btn-primary">Start Match</button>
                </form>
            }
        }
        </div>
    <div class="flex-fill">
        @{
            if (Model.CurrentPlayer == null)
            {
                <h2>Add Player</h2>
                <form asp-action="AddPlayer" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" id="playerName" name="playerName" required/>
                        <button type="submit" class="btn btn-primary">Add Player</button>
                    </div>
                </form>
            }
            else
            {   
                <h2>Current Player: @Model.CurrentPlayer.Name</h2>
                <p>Score Needed: 
                    @{
                        var player = Model.CurrentPlayer as RoundTheBoardPlayer;
                            <player>@player.RequiredBoardNumber</player>
                    }</p>
                    }
        
        }
        
    </div>
</div>