@model DartsScorer.Main.Match.RoundTheBoard.Match
@{
    ViewData["Title"] = "Round the Board";
}

<p>Play Round the Board</p>

<div class="d-flex">
    <div class="flex-fill">
        @Html.Partial("MatchPlayers", Model.Players)
        @{
            if (Model.Players.Any())
            {
                <form asp-action="StartMatch" method="post">
                    <button type="submit" class="btn btn-primary">Start Match</button>
                </form>
            }
        }</div>
    <div class="flex-fill">
        @{
            if (Model.CurrentPlayer == null)
            {
                <h2>Add Player</h2>
                <form asp-action="AddPlayer" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" id="playerName" name="playerName" required/>
                        <button type="submit" class="btn btn-primary">Add Player</button>
                    </div>
                </form>
            }
        }
    </div>
</div>