@using DartsScorer.Main.Match.RoundTheBoard
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DartsScorer.Main.Match.RoundTheBoard.Match
@{
    ViewData["Title"] = "Round the Board";
}

<h1>@ViewBag.Title</h1>

<div class="d-flex flex-column flex-md-row">
    <div class="flex-fill">
        
        @if (Model.Winner != null)
        {
            <h2>Winner: @Model.Winner.Name</h2>
        }


        @await Html.PartialAsync("MatchPlayers", Model)
        @{
            if (Model.Players.Any() && !Model.MatchInProgress)
            {
                <form asp-action="StartMatch" method="post">
                    <button type="submit" class="btn btn-primary">Start Match</button>
                </form>
            }
        }
        @{
            if (Model.CurrentPlayer == null)
            {
                @await Html.PartialAsync("AddPlayer")
                <br/>
                // foreach of the players in the viewbag.players create a dropdown
                // with the player names
                <form asp-action="AddPlayer" method="post">
                    <div class="input-group">
                        <select class="form-control" id="playerName" name="playerName" required>
                            <option value="">Select a player</option>
                            @foreach (var player in ViewBag.PlayerList as List<SelectListItem>)
                            {
                                <option value="@player.Text">@player.Value</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary">Pick Player</button>
                    </div>
                </form>
            }
            else
            {
                var currentPlayer = Model.CurrentPlayer as RoundTheBoardPlayer;

                @if (!currentPlayer.Finished())
                {
                    @await Html.PartialAsync("PlayerScore", currentPlayer)
                    @await Html.PartialAsync("ScoreEntry", "roundtheboard")
                }

                @await Html.PartialAsync("LegTable", currentPlayer)
            }
        }
    </div>
</div>