@model DartsScorer.Main.Match.RoundTheBoard.RoundTheBoardPlayer

@{
    if (Model != null)
    {
        var player = Model;
        <h2>Current Player: @player.Name</h2>
        <h3>Throw: @player.CurrentLeg.NextThrow</h3>
        <p>Score Needed: 
        @{
             <player>@player.RequiredBoardNumber</player>
         }</p>
    } 
}
