@model DartsScorer.Main.Match.RoundTheBoard.RoundTheBoardPlayer
@{
    <div class="d-flex justify-content-between">
        <h2>@Model.Name</h2>
        <p>Next: @Model.RequiredBoardNumber</p>
    </div>
}
