@model DartsScorer.Main.Match.RoundTheBoard.RoundTheBoardPlayer

@{
    if (Model != null)
    {
        var player = Model;
        <h2>Current Player: @Model.Name</h2>
        <h3>Throw: @Model.CurrentLeg?.NextThrow Leg: @(Model.Legs.Count+1)</h3>
        <p>Score Needed: 
        @{
             <player>@Model.RequiredBoardNumber</player>
         }</p>
    } 
}
