@using Microsoft.AspNetCore.Mvc.TagHelpers
<form id="gameForm" asp-action="index" method="post" onsubmit="updateFormAction()">
    <input type="hidden" name="reset" value="true"/>
    <div class="d-flex align-items-center g-4">
        <select class="form-select me-2" id="gameType" name="gameType" required>
            <option value="" disabled selected>Select Game Type</option>
            <option value="X01">X01</option>
            <option value="RoundTheBoard">Round The Board</option>
        </select>
        <button type="submit" class="btn btn-primary">Start</button>
    </div>
</form>

<script>
    function updateFormAction() {
        const form = document.getElementById('gameForm');
        const selectedGameType = document.getElementById('gameType').value;
        form.action = '/' + selectedGameType
    }
</script>