@model DartsScorer.Main.Player.MatchPlayer

@{
    var legCount = Model.Legs.Count ;
    var currentLegLocation = 0;
    <table class="table">
        <thead>
        <tr>
            <th>Leg Number</th>
            <th colspan="3">Scores</th>
        </tr>
        </thead>
        <tbody>
        @{
        foreach (var leg in Model.OrderedDescendingLegs().ToArray())
        {
        <tr>
            <td>@(legCount - currentLegLocation)</td>
            @foreach (var thr in  leg.Throws)
            {
            <td>@thr.ToString()</td>
            }
        </tr>
        currentLegLocation++;
        }
        }
        </tbody>
    </table>
}

