@model DartsScorer.Main.Player.MatchPlayer

@{
    var legArray = Model.OrderedDescendingLegs().ToArray();
    var currentLegLocation = 0;
    <table class="table">
        <thead>
        <tr>
            <th>Leg Number</th>
            <th colspan="3">Scores</th>
        </tr>
        </thead>
        <tbody>
        @{
        foreach (var leg in legArray)
        {
        var throws = leg.Throws;
        <tr>
            <td>@(legArray.Length - currentLegLocation)</td>
            @foreach (var thr in throws)
            {
            <td>@thr.ToString()</td>
            }
        </tr>
        currentLegLocation++;
        }
        }
        </tbody>
    </table>
}

