html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


 
.bullseye
{
  background-color: #ff0000;
  color: white;
  border-color: #ff0000;
}

.bullseye:hover
{
  filter: invert(1);
}

.bullseye:disabled
{
  background-color: #ff9b9b;
  color: white;
  border-color: #ff9b9b;
}




.outerbull
{
  background-color: #17AE03FF;
  color: white;
  border-color: #17AE03FF;
}

.outerbull:disabled
{
  background-color: #beffb4;
  color: white;
  border-color: #beffb4;
}

.outerbull:hover
{
  filter: invert(1);
}




.multiplier
{
  background-color: #0dcaf0;
  border-color: #000;
  margin-bottom: 10px;
  margin-top: 10px;
}

.multiplier:disabled
{
  background-color: #4c5f63;
  border-color: #000;
}

.score-button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.score-button-group .btn {
  flex: 1;
  margin-right: 10px;
}

.score-button-group .btn:last-child {
  margin-right: 0;
}

.score-buttons
{
  border-color: black;
}

.boardScoreDark
{
  background-color: #add8e6;
  border-color: black;
}

.boardScoreDark:hover
{
  filter: invert(1);
}

.boardScoreLight
{
  background-color: #d3d3d3;
  border-color: black;
}
.boardScoreLight:hover
{
  filter: invert(1);
}