@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game On!</h1>
    
    <p>
        Welcome to the Darts Scorer app! This app is designed to help you keep track of your darts scores. 
        To get started, click the "Score a Game" link in the navigation bar.</p>
    
</div>
